@use "variables" as *;
@use "mixins";

.modal {
  @include mixins.sublayer;
  height: max-content;
  position: fixed;
  justify-content: center;
  background-color: $overlayBackground;
  z-index: 100;
  padding-top: 5vh;
  padding-bottom: 5vh;
  min-height: 90vmin;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.6s, opacity 0.6s;
  pointer-events: none;

  &_active {
    display: flex;
    visibility: visible;
    opacity: 1;
    transition: visibility 0s, opacity 0.6s;
    pointer-events: all;
  }

  &__container {
    @include mixins.container;
    @include mixins.flex(column);
    gap: $defaultPadding;
    background-color: $background;
    border-radius: 3rem;
    box-sizing: border-box;
    position: relative;
    margin: auto;
    padding: calc($defaultPadding * 2) $defaultPadding;
  }

  &__content {
    flex-grow: 1;
  }

  &__title {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 400;
  }

  &__actions {
    @include mixins.flex(row);
    align-items: center;
    gap: 2rem;
    padding-top: 4rem;
  }

  &__close {
    position: absolute;
    top: calc(#{$defaultPadding} / 2.4 * 2.6);
    right: calc(#{$defaultPadding} / 2.4 * 2.6);
    @include mixins.icon(2.7rem, 'close');
    @include mixins.link(white, $hover);
  }

  &__footer {
    @include mixins.flex(row);
    align-items: center;
    gap: 2rem;
  }

  &__message {
    white-space:nowrap;
    max-width: 60%;
    text-overflow: ellipsis;
    overflow: hidden;

    &_error {
      color: $error;
    }
  }
}